In [1]:
import copy, math
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
np.set_printoptions(precision=0)  # reduced display precision on numpy arrays

In [2]:
data=pd.read_csv('cars_dataset.csv')
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [3]:
data.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [4]:
m=data.mileage.str.split(n=1,expand=True)
data['mileage']=m[0]
m=data.engine.str.split(n=1,expand=True)
data['engine']=m[0]
m=data.max_power.str.split(n=1,expand=True)
data['max_power']=m[0]
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,"11.5@ 4,500(kgm@ rpm)",5.0

In [5]:
data.drop(['name','torque'], axis = 1, inplace = True)

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data["fuel"] = le.fit_transform(data["fuel"])
data["seller_type"] = le.fit_transform(data["seller_type"])
data["transmission"] = le.fit_transform(data["transmission"])
data["owner"] = le.fit_transform(data["owner"])
data

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,1,1,1,0,23.4,1248,74,5.0
1,2014,370000,120000,1,1,1,2,21.14,1498,103.52,5.0
2,2006,158000,140000,3,1,1,4,17.7,1497,78,5.0
3,2010,225000,127000,1,1,1,0,23.0,1396,90,5.0
4,2007,130000,120000,3,1,1,0,16.1,1298,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,320000,110000,3,1,1,0,18.5,1197,82.85,5.0
8124,2007,135000,119000,1,1,1,1,16.8,1493,110,5.0
8125,2009,382000,120000,1,1,1,0,19.3,1248,73.9,5.0
8126,2013,290000,25000,1,1,1,0,23.57,1396,70,5.0
8127,2013,290000,25000,1,1,1,0,23.57,1396,70,5.0

In [7]:
data["mileage"] = pd.to_numeric(data["mileage"])
data["engine"] = pd.to_numeric(data["engine"])
# data["max_power"] = pd.to_numeric(data["max_power"])

In [8]:
data = data.drop("max_power", axis=1)

In [9]:

mean_temp = data["mileage"].mean()
data["mileage"]= data["mileage"].fillna(mean_temp)
mean_temp = data["engine"].mean()
data["engine"]= data["engine"].fillna(mean_temp)
mean_temp = data["seats"].mean()
data["seats"]= data["seats"].fillna(mean_temp)

In [10]:
data.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
seats            0
dtype: int64

In [11]:
# NORMALIZAR LOS DATOS
def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)

data_normalizada = mean_norm(data)
print(data_normalizada)

          year  selling_price  km_driven      fuel  seller_type  transmission  \
0     0.048461      -0.233514   1.338280 -0.889061      0.27759      0.385135
1     0.048461      -0.332739   0.887356 -0.889061      0.27759      0.385135
2    -1.929656      -0.595683   1.241022  1.106324      0.27759      0.385135
3    -0.940598      -0.512583   1.011139 -0.889061      0.27759      0.385135
4    -1.682392      -0.630412   0.887356  1.106324      0.27759      0.385135
...        ...            ...        ...       ...          ...           ...
8123 -0.198804      -0.394754   0.710523  1.106324      0.27759      0.385135
8124 -1.682392      -0.624210   0.869673 -0.889061      0.27759      0.385135
8125 -1.187862      -0.317855   0.887356 -0.889061      0.27759      0.385135
8126 -0.198804      -0.431963  -0.792557 -0.889061      0.27759      0.385135
8127 -0.198804      -0.431963  -0.792557 -0.889061      0.27759      0.385135

         owner   mileage    engine     seats
0    -0.666598  0.999835 -0.423778 -0.440297
1     0.970540  0.432263  0.079223 -0.440297
2     2.607678 -0.431652  0.077211 -0.440297
3    -0.666598  0.899379 -0.126002 -0.440297
4    -0.666598 -0.833472 -0.323178 -0.440297
...        ...       ...       ...       ...
8123 -0.666598 -0.230741 -0.526390 -0.440297
8124  0.151971 -0.657676  0.069163 -0.440297
8125 -0.666598 -0.029831 -0.423778 -0.440297
8126 -0.666598  1.042528 -0.126002 -0.440297
8127 -0.666598  1.042528 -0.126002 -0.440297

[8128 rows x 10 columns]

In [15]:
# #ASIGNAR X_TRAIN_Y_TRAIN
X = data_normalizada.iloc[:,[0,2,3,4,5,6,7,8,9]]
Y= data_normalizada.iloc[:,1]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=3)

In [18]:
X_train

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,seats
1625,-0.693333,-0.173641,1.106324,0.27759,0.385135,0.970540,-0.341242,-0.524378,-0.440297
4853,-0.198804,-0.019850,1.106324,0.27759,0.385135,2.607678,0.422217,-1.296987,-0.440297
4640,1.037520,-0.827923,-0.889061,0.27759,0.385135,-0.666598,2.255524,-0.423778,-0.440297
1269,0.295726,-0.350474,1.106324,0.27759,0.385135,-0.666598,1.444349,-1.327167,-0.440297
2966,1.284785,-0.916340,1.106324,0.27759,0.385135,-0.666598,0.449843,-0.526390,-0.440297
...,...,...,...,...,...,...,...,...,...
7096,0.790255,-0.651090,-0.889061,0.27759,0.385135,-0.666598,0.899379,0.079223,-0.440297
1667,-1.929656,0.321491,-0.889061,0.27759,0.385135,0.970540,-0.657676,-0.107894,-0.440297
3321,-1.187862,0.498324,-0.889061,0.27759,-2.596175,0.151971,-1.845558,3.034853,1.672862
1688,0.790255,-0.262058,-0.889061,0.27759,-2.596175,-0.666598,0.048022,0.004778,-0.440297
5994,1.037520,-0.704140,-0.889061,0.27759,0.385135,-0.666598,1.527224,0.079223,-0.440297

In [19]:
Y_train

1625   -0.419560
4853   -0.543591
4640    0.045554
1269   -0.543591
2966   -0.047469
          ...
7096    0.299817
1667   -0.655218
3321    0.212995
1688    0.262608
5994    0.242763
Name: selling_price, Length: 5689, dtype: float64

In [20]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,Y_train)
y_pred=model.predict(X_test)

In [22]:
from sklearn.metrics import r2_score
score=r2_score(Y_test,y_pred)
score

0.6082295826609574

In [23]:
z=pd.DataFrame({'actual':Y_test,'predicted':y_pred})

In [24]:
z.head()

        actual  predicted
7228 -0.245917  -0.294637
5183 -0.320336  -0.184351
3360  1.037798   0.877196
2696 -0.580800  -0.865080
1352 -0.469172  -0.177656

In [30]:
prediccion_auto=([[0.048461, 1.338280, -0.889061,
                   0.27759, 0.385135,-0.666598,0.999835,-0.423778,-0.440297]])
auto_prediccion= model.predict(prediccion_auto)
auto_prediccion

array([-0.])